<%= render partial: 'shared/header' %>
<div class="content m-6">
  <h2>Good Job!!</h2>
  <p>トレーニングお疲れ様でした。</p>
  <p>しっかり体を休めて、また明日も頑張りましょう♪</p>
</div>
<br>
<br>
<table class="table ml-6">
  <thead>
    <tr>
      <th>トレーニング名</th>
      <th>トレーニング内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @trainings.title%></td>
      <td><%= @trainings.content%></td>
      <td><%=link_to "削除", training_path(@trainings.id), method: :delete , data: {confirm:"削除しますか?"} ,:class=>"button is-danger"%></td>
    <tr>
  </tbody>
</table>