<%= render partial: 'shared/header' %>

<div class="columns">
  <div class="column">
  <br>
    <h1 class="message-header is-size-4">About "Your Routine"</h1>
    <br>
     <div class="message-body">
      <p>トレーニングが続けられないという方に向けてこのサイトを作成しました。</p>
      <br>
      <p>日々のトレーニング内容を記録して、少しずつ継続しましょう。</p>
      <br>
      <p>みなさんのお力になれると嬉しいです。</p>
    </div>
  </div>
  <div class="column">
  <br>
    <h1 class="message-header is-size-4">Coming Soon...</h1>
    <br>
     <div class="message-body">
      <p>現在追加機能を実装中です。</p>
      <br>
      <p>完成しましたら、ぜひご利用ください。</p>
     </div>
     <br>
     <br>
    <div class="button is-primary">
      <%= link_to 'Please Wait...', "#"%>
    </div>
  </div>
</div>

<%= render partial: 'shared/footer'%>
