<footer class="footer navbar is-fixed-bottom">
    <div class="navbar-start is-size-4">
      <a class="navbar-item" href="/">Your Routine</a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="#">利用規約</a>
      <a class="navbar-item" href="#">プライバシーポリシー</a>
    </div>
</footer>